:root {
  --color-background: rgb(15, 12, 75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--color-background);
  display: grid;
  place-items: center;
}

.page-logo {
  width: 200px;
  margin-bottom: 25px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto;
}

.page-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin: 5px auto 10px;
  color: #bb1c1c;
}

.button {
  display: block;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  padding: 5px;
  background: #fff;
  color: #1f1f1f;
  text-transform: uppercase;
  border: none;
  box-shadow: 5px 5px 0 #2243ff;
  cursor: pointer;
}

.button:hover {
  color: #2243ff;
}

table{
  border: 2px solid #fff;
  border-collapse: collapse;
  text-align: center;
}

th,
tr,
td {
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
}
